@import "./partials/bootstrap-overrides";
@import "./partials/mixins";

// qui va il nostro stile custom


$body-width: 95%;
$netflix-color: #141414;



body{
    background-color: #141414;
    width: $body-width;
    margin-inline: auto;
}

.logo-img {
    max-width: 130px;
  }


  .shows-row {
    margin-block: 2rem;
  }

  .navbar-avatar {
    max-width: 40px;
  }


.drop-nav{
    .dropdown{
        
            button {
                @include netflixBtnStyle(0);
                // background-color: $netflix-color;
                // border: 1px solid transparent
              }
        
    }
}



.right-side-nav > ul {
    column-gap: 10px;
  }


.genres-btn, #languages-btn{
    @include netflixBtnStyle(2px, 1px solid $white, black);
  }


.title-buttons-container{
    .icon-container{
        padding-block: 0 3px;
        padding-inline: 10px;
        border: 1px solid $secondary;
        &:hover {
            border: 1px solid white;
         }
    }
}

.title-container{
    margin-block: 1.5rem;
    .category-container{
        column-gap: 2.4rem;
        h1{
            font-size: 2.2rem;
        }
    }
}

#navbarSupportedContent{
    .left-side-nav{
        column-gap: 6px;
        .nav-item{
            a{
    font-size: .85rem;
}
        }
    }
}


.carousel-container{
    .carousel-title{
        h3{
            font-size: 1.6rem;
            margin-block: 2rem 1.5rem;
        }
    }
}


.carousel-item{
    img{
        max-width: 300px;
    }
}

.social-list{
margin-inline-start: -1rem;
margin-block-end: 1.5rem;
}

.utility-container{
    button{
        @include netflixBtnStyle(2px, 1px solid $secondary);
        color: $secondary;
        margin-block: 1.5rem .9rem;
    
    }
}

.profile-content-container{
    .btn-dark{
    @include netflixBtnStyle(2px, 1px solid $secondary);
    color: $secondary;
    letter-spacing: 3px;
    &:hover {
        background-color: white;
        color: black;
     }
}
}

.horizontal-rule{
    border: 0.5px solid #2F2F2F;
    margin-block: 1.5rem;
}

// .buttons-container{
//     .container{
//         .row{
//             button{
//                 @include netflixBtnStyle(2px, 1px solid $secondary);
//                 color: $secondary;
//                 letter-spacing: 1px;
//                 padding-inline: 1.5rem;
//             }
//             .bigger-btn{
//                 @include netflixBtnStyle(2px, 1px solid $secondary);
//                 color: $secondary;
//                 letter-spacing: 1px;
//                 padding-inline: 1.5rem;

//             }
//         }
//     }
// }
.buttons-container{
    
            button{
                @include netflixBtnStyle(2px, 1px solid $secondary);
                color: $secondary;
                letter-spacing: 1px;
                padding-inline: 1.5rem;
                font-weight: 500;
                &:hover {
                    background-color: white;
                    color: black;
                 }
            }
               
}


#disabledTextInput{
    background-color: $gray-800;
    border: 1px solid transparent;
    border-radius: 3px;
    &::placeholder {
        color: white;
    }
}


.profile-section-container{
    h4{
        font-size: 1.2rem;
        color: $gray-500;
        margin-block-start: 1.2rem;
    }
}